$white:  rgb(255, 255, 255);
$whitesmoke:  rgb(245, 245, 245);
$orange: rgb(254, 153, 0);
$gray1:  rgb(98, 98, 98);
$gray2:  rgb(66, 66, 66);
$gray3:  rgb(49, 49, 49);
$gray4:  rgb(31, 32, 34);
$black:  rgb(0, 0, 0);

